.atom-soft-tabs-length {
  &.no-guide {
    atom-text-editor .indent-guide {
      box-shadow: none;
    }
  }
}

[data-soft-tabs-length='4'] {
  atom-text-editor .indent-guide {
    letter-spacing: 0.6em;

    &.eol {
      letter-spacing: 1.2em;
    }
  }
}